*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
}
#app > div > section > section > main > div:nth-child(3) > button.el-button{
    margin-left: 5px;background-color: dodgerblue;color: whitesmoke;
}